.banner{
  background-image: url("../../assets/food-8777436_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
}

.cover{
  width: 100%;
  height: 80vh;
  background-color: black;
  opacity: 0.4;
} 

.fadeout{
  position: absolute;
  width: 100%;
  height: 30px;
  margin-top: 76vh;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}